
.wrapper-HomePage {
  width: 100%;
  height: calc(100vh - 110px);
  padding: 5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../../Assets/image1.jpg);
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.HomePageContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: clamp(3rem, 1.4423rem + 6.9231vw, 5rem);
  text-align: center;
  background-size: cover;
  color: white;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
}

.HomePageContainer button {
  width: 250px;
  height: 90px;
  background-color: #283D38;
  border: white;
  border-radius: 25px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: var(--font-size--medium);
  font-weight: 800;
}

.HomePageContainer button:hover,
.HomePageContainer button:focus {
  cursor: pointer;
  background-color: white;
  color: #283D38;
  border: #283D38 solid 4px;
}
.HomePageButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
