.SearchPageFormAPI {
  width: 100%;
  background-color: whitesmoke;
  padding: 50px;
}
.wrapper-SearchPage {
  background-color: rgb(5, 5, 49);
  color: white;
  padding: 5%;
  min-height: 100vh;
  height: 100%;
}
.overLayAnimation {
  width: 100%;
  background-color: lightgrey;
  opacity: 0.3;
  height: 100%;
}
.RestaurantItemOne {
  margin: 20px 50px;
}
.RestaurantItems {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.APIItemsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.RestaurantItemIMGContainer {
  position: relative;
  width: 400px;
  height: 400px;
}
.RestaurantItemIMG {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.ButtonLiked {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

/* .RestaurantRating {
  color: 
} */