.searchPageFormApi {
  width: 100%;
  background-color: rgb(205, 207, 218);
  padding: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.searchPageFormApi button {
  cursor: pointer;
  background-color: #283d38;
  border: 1px solid #283d38;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  font-size: 1.4rem;
  height: 50px;
  width: 100px;
}

.searchPageFormApi button:hover,
.searchPageFormApi button:focus {
  background-color: white;
  border: 1px solid #283d38;
  color: #283d38;
}

.searchPageFormApi input {
  height: 50px;
  width: 250px;
  font-size: 1.2rem;
  padding-left: 1.5%;
  border: none;
  border-left: 1px solid #283d38;
  border-top: 1px solid #283d38;
  border-bottom: 1px solid #283d38;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.wrapper-SearchPage {
  background-color: #283d38;
  color: white;
  padding: 5%;
  min-height: calc(100vh - 110px);
  height: 100%;
  position: relative;
}

.wrapper-SearchPage h2 {
  font-size: 2.5rem;
}

.overLayAnimation {
  width: 100vw;
  height: 100vh;
  background-color: #283d38;
  /* opacity: 0.3; */
  padding-left: 48%;
  position: absolute;
  top: 5%;
  left: 0;
  z-index: 30;
}

.restaurantItemOne {
  margin: 20px 50px;
  width: 375px;
}

.ratingAndPrice {
  display: flex;
  justify-content: space-between;
}

.ratingAndPrice h4 {
  margin: 0 0 8px 0;
}

.restaurantItems {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.APIItemsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}
.restaurantItemImgContainer {
  position: relative;
  width: 100%;
  height: 300px;
}
.restaurantItemImg {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.restaurantDetailsContainer {
  display: flex;
  justify-content: center;
  background-color: white;
}

.restaurantDetails {
  width: 50%;
  padding: 3%;
  color: #283d38;
  text-align: left;
}

.ButtonLiked {
  position: absolute;
  top: 0;
  left: 3px;
  z-index: 2;
  cursor: pointer;
}

.ButtonLiked i {
  font-size: 3rem;
}

.ButtonLiked i:hover,
.ButtonLiked i:focus {
  color: gold;
}
