.savedTrips-Wrappper {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../Assets/image2.jpg);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 110px);
  height: 100%;
  color: white;
  position: relative;
}

.FirebaseTripUserSaved {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.FirebaseTripUserSaved li {
  margin: 10px;
}

.FirebaseTripUserSaved button {
  width: 325px;
  height: 120px;
  background-color: #283d38;
  border: #283d38;
  border-radius: 25px;
  color: white;
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
}
.FirebaseTripUserSaved button:hover,
.FirebaseTripUserSaved button:focus {
  cursor: pointer;
  background-color: white;
  border: #283d38 solid 4px;
  color: #283d38;
}
.savedTrips-Wrappper h2 {
  font-size: 48px;
}
.TitleContainer {
  width: 100%;
  text-align: center;
}
.removeTrip {
  position: absolute;
  left: 50px;
  bottom: 60px;
}

.removeTrip button {
  cursor: pointer;
  background-color: rgb(255, 91, 79);
  padding: 15px;
  border: rgb(255, 91, 79) solid 1px;
  border-radius: 25px;
  color: white;
  font-family: Raleway;
  font-size: 1.7rem;
  font-weight: 800;
}

.removeTrip button:hover,
.removeTrip button:focus {
  background-color: rgba(0, 0, 0, 0.65);
  padding: 15px;
  border: rgb(255, 91, 79) solid 1px;
  border-radius: 25px;
  color: rgb(255, 91, 79);
}

.openRemovedTripMenu {
  right: 0;
  min-height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 10;
}

.openRemovedTripMenu button {
  text-transform: capitalize;
  width: 100%;
  height: 75px;
  background-color: #283d38;
  color: white;
  border: white solid 1px;
  font-size: 1.3rem;
  padding: 10px;
}
.openRemovedTripMenu button:hover {
  border: solid 1px #283d38;
  background-color: white;
  color: #283d38;
}

.closedRemovedTripMenu {
  display: none;
}

.promptMenuConfirmation {
  background-color: rgba(0, 0, 0, 0.8);
  width: 40%;
  padding: 50px 10px;
  display: flex;  
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
  position: absolute;
  z-index: 40;
}

.promptMenuConfirmation p {
  font-size: 1.4rem;
  text-align: center;
}

.promptMenuConfirmation button {
  font-size: 1.4rem;
  width: 30%;
  margin: 7px;
}

.savedTrips-Wrappper p {
  position: absolute;
  font-size: 1.6rem;
  top: 40%;
}

.RickMe {
  position: absolute;
  left: 5%;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

@media (max-width: 900px) {
  .removeTrip button {
    padding: 15px;
    font-size: 1.4rem;
  }

  .FirebaseTripUserSaved {
    padding: 0;
  }

  .FirebaseTripUserSaved button {
    width: 200px;
    height: 80px;
    font-size: 1.7rem;
  }
}

@media (max-width: 800px) {
  .removeTrip {
    position: static;
  }
}

@media (max-width: 700px) {
  .openRemovedTripMenu {
    width: 100vw;
  }

  .promptMenuConfirmation {
    background-color: #000;
    width: 70%;
  }
}