.savedTrips-Wrappper {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../../Assets/image2.jpg);
  background-size:cover;
  background-position: center;
  min-height: calc(100vh - 110px);
  height: 100%;
  color: white;
}

.FirebaseTripUserSaved {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.FirebaseTripUserSaved li {
  width: 325px;
  height: 120px;
  margin: 10px;
}
.FirebaseTripUserSaved button {
  width: 325px;
  height: 120px;
  background-color: #283D38;
  border: #283D38;
  border-radius: 25px;
  color: white;
  font-family: Raleway;
  font-size: 2rem;
  font-weight: 800;
}
.FirebaseTripUserSaved button:hover,
.FirebaseTripUserSaved button:focus {
  cursor: pointer;
  background-color: white;
  border: #283D38 solid 4px;
  color: #283D38;
}
.savedTrips-Wrappper h2 {
  font-size: 48px;
}
.TitleContainer {
  width: 100%;
  text-align: center;
}
