footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283D38;
}

.credits {
    margin: 0;
    color: white;
}

.credits a {
    color: white;
}