/* Navbar component */
.upperNav {
  width: 100%;
  height: 60px;
  padding: 0;
  background-color: white;
}

.wrapper-Nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.upperNav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0 5%;
  width: clamp(24rem, 1rem + 102.2222vw, 58.5rem);
}
.upperNav ul li {
  width: 200px;
  text-align: center;
  height: 100%;
  padding: 10px;
}
.upperNav ul a {
  font-size: var(--font-size--small);
  text-decoration: none;
  font-weight: 600;
  color: #283D38;
}

.upperNav ul a:hover {
  color: purple;
}
